<div class="container mt-4">
    <div class="jumbotron">
        <h1 *ngIf="!username" class="display-4">You have not logged in</h1>
        <h1 *ngIf="username" class="display-4">Hi {{username}}</h1>
        <p class="lead">This is a simple website where you can search for movies, see the latest popular movies and also like them to save them to your list.
        You can still remove them after if you want to.</p>
      </div>
</div>
<hr>
<div class="container">
  <h1>Movie search</h1>

<div class="form-group">
  <input type="text" class="form-control" placeholder="Search a movie" [(ngModel)]="searchQuery">
</div>

<button class="btn btn-primary" (click)="searchMovies()">Search</button>


  <h2>Search results</h2>
  <div class="row justify-content-center">
    <div class="col-12">
      <div *ngIf="loading" class="text-center">
        <i class="fa fa-spinner fa-spin fa-2x"></i>
      </div>
      <div *ngIf="!loading" class="row">
        <div class="col-sm-6 col-md-4 col-lg-3 mb-3" *ngFor="let movie of movies">
          <app-movie [movie]="movie" [isFavoriteList]="true"></app-movie>
        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <div class="col-auto">
          <app-pagination [totalResults]="totalResults" [totalPages]="totalPages" [currentPage]="currentPage" (pageChange)="onPageChange($event)"></app-pagination>
        </div>
      </div>
    </div>
  </div>

</div>

